@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins&family=Roboto&display=swap");

.__className_e66fe9 {
  padding: 0px !important;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
}

/*  package styles */

/* global styles */
._t1897 {
  object-fit: contain !important;
}

.scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Webkit Scrollbar Styles */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* react quill editor styels || ql-blank */
.ql-editor {
  min-height: 322px !important;
  /* border-radius: 7px; */
  border: 2px dashed var(--Light-Gray, #d9dbdf);
  opacity: 0.6;
  background: var(--Ultra-Light-Grey, #f5f7f9);
}

.ql-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: none !important;
  max-width: 500px;
  margin: 0 auto 64px auto;
  min-height: 48px;
  border-radius: 46px;
  background: var(--Ultra-Light-Grey, #f5f7f9);
}
